.Z7iKHc {
  visibility: hidden !important;
}

.KQZr0e {
  visibility: hidden !important;
}

.HEUhi>.koV58>.TPpRNe>video.Gv1mTb-PVLJEc {
  visibility: hidden !important;
}

.Zf0RDc>.koV58>.TPpRNe>video.Gv1mTb-aTv5jf {
  visibility: visible !important;
}

